# Ignore catkin generated folders
devel/
build/
logs/
.rosinstall
.rosinstall.bak

# Ignore all Rosbags
**.bag
# Ignore all images
**.jpg
**.png
**.jpeg

# Others
.idea/
.idea/*
cmake-build-debug/
cmake-build-debug/*
cmake-build-release/
cmake-build-release/*
clion/
clion-cmake/

# Catkin stuff
.catkin_tools/

**.swp

# binary files
*.pyc

# Profiler files
*.prof
